@tailwind base;

@tailwind components;

.text-correct {
  @apply text-green-600;
}

.text-wrong {
  @apply text-red-600 bg-red-300;
}

@tailwind utilities;

.fake-caret {
  position: absolute;
  width: 1px;
  height: 21px;
  font-weight: lighter;
  background-color: black;
  margin-top: 2px;
  margin-right: 1px;
}